@model Koala.Yedpa.Core.Models.ViewModels.WorkplaceDetailViewModel

@{
    var Cl = Model == null ? "" : Model.Definition;
    ViewData["Title"] = $"{Cl} İşyeri Bilgisi Güncelle";
    ViewData["ActivePage"] = "Workplace";
}
<div class="container mt-3">
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">İşyeri Site Bilgileri</span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">İşyeri Site Bilgilerini Güncelle</span>
            </h3>
        </div>
        <form name="UpdateWorkplaceForm" id="UpdateForm" asp-action="Update" asp-controller="Workplace" method="post">
            <div class="card-body">
                <input type="hidden" asp-for="Id" />
                @Html.AntiForgeryToken()

                <!-- ============================
                1) TİP SEÇİM ALANI
                ================================= -->

                <div class="card-body">

                    <div class="form-group row">
                        <div class="col-9 col-form-label">
                            <div class="radio-inline">
                                <label class="radio radio-success">
                                    @Html.RadioButtonFor(m => m.CustomerType, 1, new { id = "CustomerType_1" })
                                    <span></span>İşyeri Sahibi
                                </label>
                                <label class="radio radio-primery">
                                    @Html.RadioButtonFor(m => m.CustomerType, 2, new { id = "CustomerType_2" })
                                    <span></span>Kiracı
                                </label>
                                <label class="radio radio-warning">
                                    @Html.RadioButtonFor(m => m.CustomerType, 4, new { id = "CustomerType_4" })
                                    <span></span>Diğer
                                </label>
                            </div>
                            <span class="form-text text-muted">Müşteri tipini seçiniz</span>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header border-0 py-5">
                        <span class="text-muted mt-3 font-weight-bold font-size-sm">Ev Sahibi - Kiracı Bilgileri</span>

                    </div>


                    <!-- ============================
                    2) KİŞİ – EV SAHİBİ – KİRACI
                    ============================= -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-2">
                                <label class="font-weight-bold">Muhtarlık Kaydı</label><br />

                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.ChiefReg, 1, new { @class = "form-check-input", id = "ChiefReg_1" })
                                    <label class="form-check-label" for="ChiefReg_1">Var</label>
                                </div>

                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.ChiefReg, 0, new { @class = "form-check-input", id = "ChiefReg_0" })
                                    <label class="form-check-label" for="ChiefReg_0">Yok</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>T.C. Kimlik No</label>
                                @Html.TextBoxFor(m => m.IdentityNr, new { @class = "form-control" })

                                <label class="mt-2">Kişi Sayısı</label>
                                @Html.TextBoxFor(m => m.PersonCount, new { @class = "form-control", type = "number" })
                            </div>

                            <div class="col-md-3">
                                @Html.LabelFor(x => x.ProfitingOwner, "İntifa Sahibi", new { @class = "", name = "ProfitingOwner_lb", id = "ProfitingOwner_lb" })
                                @Html.TextBoxFor(m => m.ProfitingOwner, new { @class = "form-control", id = "ProfitingOwner" })

                                @Html.LabelFor(x => x.TaxPayer, "Vergi Mükellefliği", new { @class = "mt-2", name = "TaxPayer_lb", id = "TaxPayer_lb" })
                                @Html.DropDownListFor(m => m.TaxPayer,
                                new List<SelectListItem>
                                                                {
                                                                new SelectListItem { Text = "Muaf", Value = "0", Selected = Model?.TaxPayer == 0 },
                                                                new SelectListItem { Text = "Gelir Vergisi", Value = "1", Selected = Model?.TaxPayer == 1 },
                                                                new SelectListItem { Text = "Kurumsal", Value = "2", Selected = Model?.TaxPayer == 2 },
                                                                new SelectListItem { Text = "Diğer", Value = "3", Selected = Model?.TaxPayer == 3 }
                                                                },
                                                                "Seçiniz", new { @class = "form-control", id = "TaxPayer" })
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(x => x.DeedInfo, "Tapu Bilgileri", new { name = "DeedInfo_lb", id = "DeedInfo_lb" })
                                @Html.DropDownListFor(m => m.DeedInfo,
                                                                new List<SelectListItem>
                                                                {
                                                                new SelectListItem { Text = "Hisseli", Value = "0", Selected = Model?.DeedInfo == 0 },
                                                                new SelectListItem { Text = "Müstakil/Tam Mülkiyet", Value = "1", Selected = Model?.DeedInfo == 1 }
                                                                },
                                                                "Seçiniz", new { @class = "form-control", id = "DeedInfo" })

                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label>Giriş / Baş. Tarihi</label>
                                        @Html.TextBoxFor(m => m.BegDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @readonly = "readonly" })
                                    </div>
                                    <div class="col-6">
                                        <label>Çıkış / Bitiş Tarihi</label>
                                        @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- ============================
                3) BÜTÇE ve YAKIT TABLOLARI
                ============================= -->
                <div class="row">

                    <!-- Bütçe -->
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header border-0 py-5">
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Bütçe Alanları</span>

                            </div>
                            <div class="card-body">

                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Alan</th>
                                            <th>Bütçe M2</th>
                                            <th>Bütçe Katsayı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1. Depo</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetDepotMetre1, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetDepotCoefficient1, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>2. Depo</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetDepotMetre2, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetDepotCoefficient2, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>Zemin</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetGroundMetre, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetGroundCoefficient, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>Asma Kat</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetHungMetre, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetHungCoefficient, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>1. Kat</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetFloorMetre, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetFloorCoefficient, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>Pasaj 1</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetPassageMetre1, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetPassageCoefficient1, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>Pasaj 2</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetPassageMetre2, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.BudgetPassageCoefficient2, new { @class = "form-control" })</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <!-- Yakıt -->
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header border-0 py-5">
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Yakıt Alanları</span>

                            </div>
                            <div class="card-body">

                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Alan</th>
                                            <th>Yakıt M2</th>
                                            <th>Yakıt Katsayı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1. Depo</td>
                                            <td>@Html.TextBoxFor(m => m.FuelDepotMetre1, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelDepotCoefficient1, new { @class = "form-control" })</td>
                                        </tr>

                                        <tr>
                                            <td>2. Depo</td>
                                            <td>@Html.TextBoxFor(m => m.FuelDepotMetre2, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelDepotCoefficient2, new { @class = "form-control" })</td>
                                        </tr>

                                        <tr>
                                            <td>Zemin</td>
                                            <td>@Html.TextBoxFor(m => m.FuelGroundMetre, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelGroundCoefficient, new { @class = "form-control" })</td>
                                        </tr>

                                        <tr>
                                            <td>Asma Kat</td>
                                            <td>@Html.TextBoxFor(m => m.FuelHungMetre, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelHungCoefficient, new { @class = "form-control" })</td>
                                        </tr>

                                        <tr>
                                            <td>1. Kat</td>
                                            <td>@Html.TextBoxFor(m => m.FuelFloorMetre, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelFloorCoefficient, new { @class = "form-control" })</td>
                                        </tr>

                                        <tr>
                                            <td>Pasaj 1</td>
                                            <td>@Html.TextBoxFor(m => m.FuelPassageMetre1, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelPassageCoefficient1, new { @class = "form-control" })</td>
                                        </tr>

                                        <tr>
                                            <td>Pasaj 2</td>
                                            <td>@Html.TextBoxFor(m => m.FuelPassageMetre2, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(m => m.FuelPassageCoefficient2, new { @class = "form-control" })</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-md-6 offset-md-6">

                                    <label class="form-label">Katsayılı Brüt M2</label>
                                    @Html.TextBoxFor(m => m.TotalBrutCoefficientMetre, new { @class = "form-control", @readonly = "readonly" })

                                    <label class="form-label mt-3">Net M2</label>
                                    @Html.TextBoxFor(m => m.TotalNetMetre, new { @class = "form-control", @readonly = "readonly" })

                                    <label class="form-label mt-3">Yakıt M2</label>
                                    @Html.TextBoxFor(m => m.TotalFuelMetre, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================
                4) TOPLAM ALANLAR
                ============================= -->

                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-warning mr-2">Güncelle</button>
                    <a href="~/Workplace" class="btn btn-secondary">Vazgeç</a>
                </div>



            </div>
        </form>
    </div>
</div>
@section Scripts
{

    <script src="/assets/js/custom/workplace-update-page.js"></script>
}
